/* Footer.block.css */
:scope {
	position: fixed;
	bottom: 0;
	box-shadow: 0 -3px 4px 0 rgba(87,73,73,0.2);
	display: flex;
	justify-content: space-between;
	height: 50px;
	width: 100%;
	padding: 0 16px;
	background: #73C800;
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
}